
body{
	background: #eff0f6;
}

.wrapper{
	margin:auto;
	width:500px;
	font-family: "Myriad Pro", Myriad;
	font-size: 14px;
	text-align: left;
}

.name{

	text-transform: uppercase;
	color: #010101;
	font: bold 36px  Arial;
	text-align: center;
}

.photo{
	text-align: center;
}

.head{
	font-size: 18px;
	font-weight: bold;
}
.marker{
    list-style-type: none; /* Убираем маркеры */
   }
.block{
	border-top: 1px solid #c4c6c8;
} 