@font-face{
    font-family: "Lucida Sans Unicode";
    src: url('lucida_sans_unicode-webfont.woff2') format('woff2'),
         url('lucida_sans_unicode-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
    margin: 0px;
    padding: 0px;
}
body{
    
   
    height:100%;
    background-color: #ffffff;
  
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
 


   
}
.wrapper{
    height: 100%;
    margin: auto;
    width: 910px;
    min-height: 1310px;
    background-color: #ffffff;
    padding-top:22px;
   
    
}

/*HEADER*/
.phone{
	font: 19px/28px Arial, sans-serif;
	color: #5e696d;
	float: left;
	padding-left: 7px;
	padding-bottom: 6px;
}
.phone img{
	
	float: left;
    margin: 5px 0 4px 2px;
}
.logo{
	float: left;
	background-color: #b1bbbf;
	box-shadow: 2px 3px 3px rgba(150,150,150,.75);
	border-radius: 4px / 3px;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSItMS40MjEwODU0NzE1MjAyZS0xNCUiIHgyPSI1MCUiIHkyPSIxMDAlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmNjk4NyIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNTklIiBzdG9wLWNvbG9yPSIjMTE0MTY1IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGIzMTU1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=); 
	background-image: linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%);
	height: 27px;
	width:495px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	margin-left: 16px;
	cursor: pointer;
}



.logo label:nth-child(2){
	margin-left:4px;
}

.logo img{
	float:left;
	width: 14px;
	height: 18px;
	padding: 4px 3px 3px 7px;

}
.logo .login-form{
	float: left;
	width: 273px;	
	/*text-align: center;*/
	padding-top: 3px;
	padding-left: 0px;
	
   }
  .logo .login-form:after{
    display: block;
    content: ' ';
    clear: both; 
   } 

 .logo input{
 	width: 107px;
 	height: 14px;
 	color: #51676f;
    border: 1px solid #97a2a6;
   /* margin: 0 4px 0 0;*/
    padding-left: 4px;
    font-size: 12px;

 } 
 
 
 .login-form a{
 	width: 10px;
 	color: white;
 	outline:none;
 	padding-left: 4px;
 	padding-top:3px;
 	

 }
 .logo a{
 	text-decoration: none;

 } 
 .registration{

 	float:right;
 	color:white;
 	padding-top:3px;

 	

 }
 .registration a {
 	padding-right: 8px;
 	color: white;
 }
 .registration a:first-child{
 	padding-right: 20px;

 }
 .registration a:last-child{
 	color: #bfbfbf;
 	text-decoration: underline;
 }
 .right-menu{
 	float:right;
 	width: 76px;
 	height: 20px;
 	opacity: 52%;
 	border: 1px solid #bdc3c7;
 	border-radius: 11px;
 	background-clip: padding-box;
 	margin-right: 5px;
 	text-align:center;

 }
 .right-menu a:first-child{
 	padding-right: 4px;

 }
 .right-menu a:nth-child(2){
 	padding-right: 8px;
 }
 .right-menu a:last-child{
 	padding-right: 5px;
 }
 .image {
 	position: relative;
 }
 .image img{ 	
 	min-width: 237px;
 	z-index: 1;
 }
 .image a{
 	position:absolute;
 	z-index: 100;
 	padding-top: 141px;
 	height: 70px;

 }

 /*NAVIGATION*/
 nav{
 	border: 1px solid #0c1542; /* stroke */
 	border-radius: 6px / 4px;
 	background-clip: padding;
 	background-clip: padding-box;
 	box-shadow: 2px 3px 5px rgba(0,0,0,.6); 
 	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzU2NWY2OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
    background-image: linear-gradient(bottom, #000 0%, #565f68 100%);
    min-height: 33px;
    padding-left: 122px;
    padding-right: 13px;
    text-align: center;
 
 }
 nav ul{
 	list-style: none;
 	width: 520px;
 }
 nav li{
 	float:left;
 	height: 26px;
 	display: inline-block;
 	
 }
 nav a{
 	display: block;
 	text-align: center;
 	text-decoration: none;
 	color: #b1bcc0;
 	font-size: 14px;
 	padding:7px 10px 5px ;
 	letter-spacing: 0,01px;
 }

 .main-menu{
 	width: 502px;
 	

 }
 .main-menu a:hover{
 	color: white;
 	border-radius: 13px; /* border radius */
background-clip: padding-box; /* prevents bg color from leaking outside the border */
background-color: #f60202; /* layer fill content */
background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSItMS40MjEwODU0NzE1MjAyZS0xNCUiIHgyPSI1MCUiIHkyPSIxMDAlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmNjk4NyIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNTklIiBzdG9wLWNvbG9yPSIjMTE0MTY1IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGIzMTU1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=); /* gradient overlay */
background-image: linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%); /* gradient overlay */

 }
 .about{
 	padding-left: 13px;

 }	
 .pay{
 	padding-left: 12px;
 }
 .delivery{
 	padding-left: 9px;
 }
 .articles{
 	padding-left: 8px;
 }
 .contacts{
 	padding-left: 5px;
 }
 
 .basket {
 	float:right;
 	width: 223px;
 	font-family: Arial sans-serif;

 }
 .basket img{
 	position: absolute;
 	
 }
 .basket li{
 	padding: 9px 0px;
}
 .basket li:nth-child(2){
 	padding-left: 18px;
 	color: #b1bcc0;
 	
 	letter-spacing: 0.07em;
 }
 .basket li:nth-child(3){
 	color: #0d5a8f;
 	padding-top: 10px;
 	padding-left: 1px;
 }
 .basket li:nth-child(4){
 	padding-left:13px;
 	color: #b1bcc0;
 	letter-spacing: 0.06em;
 }
  .basket li:nth-child(5){
 	color: #0d5a8f;
 	padding-top: 10px;
 	padding-left: 10px;
 	letter-spacing: 0.06em;
 }
 .basket a{
 	padding-top:0px;
 	/*padding-right: 5px;*/
 }
 
 /*FIND*/
 .find{
 	height: 132px;
 	width: 896px;
 	padding-right: 2px;
 	padding-bottom: 30px;
 	margin:0;

 }
 .find img{
 	padding-bottom: 5px;
 	margin-top: -3px;
 	margin-left: 2px;
 }
   /*MAIN SECTION*/ 

 .main{
    height: auto;
    width: 100%;
}
				/*left-part*/

.left-part{
    float: left;
    width: 190px;
    height: auto;
    color: #114165;
    padding-top: 2px;



}
.left-part p{
	background-image: url(../images/icon2.png);
	background-repeat: no-repeat;
	height: 27px;
	width: 148px;
	padding: 5px 0 0 30px;
	font-size:14px;

}

.left-part p:first-child{
	background-image: url(../images/icon1.png);
	background-repeat: no-repeat;
	width: 180px;
	font-size:13px;
	
	height: 25px;
    
    padding: 4px 0 0 27px;
    letter-spacing: -0.01em;
}
.left-part p:nth-child(2){
	margin-top:12px;
}
 .left-disk,
 .left-bolts {
	margin-top:-9px;
}



.left-part ul li {
	margin-left:55px;
	list-style-type: circle;
	font-size: 14px;
	
	margin-top:-8px;
	

}
.left-part ul li a{
	font-size: 13px;
	text-decoration: none;
	color:#465961;
	margin-left:-8px;
	letter-spacing: -0.01em;
	line-height: 35px;
}
.left-part ul li a:hover{
	font-size:15px;
	font-style:italic;
	font-weight: bold;
	text-decoration: underline;
	font-family: Arial, sans-serif;
	color: #0c3256;

}
				/*central-part*/
.central-part{
    float: left;
    width: 526px;
    height: 626px;
   	border-radius: 3px;
background-clip: padding-box; /* prevents bg color from leaking outside the border */
background-color: #fff; /* layer fill content */
background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyNGE1ZCIgc3RvcC1vcGFjaXR5PSIwLjQ5Ii8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M5Y2ZkMSIgc3RvcC1vcGFjaXR5PSIwLjQ5Ii8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
background-image: linear-gradient(bottom, rgba(35,75,93,.49) 0%, rgba(201,207,209,.49) 100%); /* gradient overlay */
}
figure{
	float: left;
    width: 31%;
    height: 180px;
    text-align: center;
    padding: 18px 4px 6px 2px;
    line-height: 14px;
    position: relative;
   
}
figcaption{
	color: #1f6987; /* text color */
	font-family: "Lucida Sans Unicode", sans-serif;
	font-size: 16px;
	line-height: 12px;
	font-weight: bold;
	letter-spacing: -0.05em;
	margin-left:18px;

}
figure p:first-child {
	font-size:14px;
	margin-left: 5px;
	}
.central-part-image{
	float:left;
	width:137px;
	height: 128px;
	margin:auto;
	text-align: center;
    margin-left:20px;
    position: absolute;
}
figure p:last-child{
color: #114165;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    line-height: 11px;
    margin-top: 136px;
    margin-left: 25px;

}
figure p:last-child span{
	font-size:13px;

}
 
			/*right-part*/

.right-part{
    float:right;
    width:190px;
    height:auto;
    padding-left: 4px;

}
.right-part .brend{
	background-image: url(../images/icon1.png);
	background-repeat: no-repeat;
	font-size:14px;
	color: #114165;
	height: 25px;
    margin-left: 6px;
    padding-top:4px;
    padding-left: 31px;
   

}

.checkbox{
	padding-left: 21px;
	padding-top: 11px;
}
.checkbox p{
	background-image: url(../images/icon2.png);
	background-repeat: no-repeat;
	padding: 5px 0 0 30px;
	height: 28px;
	font-size:14px;
	background-size: 135px 28px;
	margin-top:1px;
}
.checkbox .discs {
	margin-top: 7px;
}
.checkbox .choice{
	font-size: 13px;
	margin-left: 10px;
		
}
.choice label{
	padding-left: 7px;
	line-height: 25px;
	color:#465961;
}
/*input[type="checkbox"] { 
	display:none; }
input[type="checkbox"] {
	background-image: url(../images/checkbox.png)  no-repeat 0 0;
	cursor: pointer;
	} 	*/
.checkbox input[type="submit"] {
	background-image: url(../images/submit.png);
	border: 1px solid #a7abad; /* stroke */

border-radius: 11px / 13px; /* border radius */
width: 80px;
height: 26px;
color:white;
font-size: 11px;
margin-top:13px;
margin-left:9px;
letter-spacing: 0.05em;
padding-left: 3px;


}
main:after{
    display: block;
    content: ' ';
    clear: both; 
   } 
		

/*BREND*/
.names{
	    text-align: center;
    margin-top: 34px;
    margin-bottom: 24px
    
}
.names img{
	padding-left: 11px;
	
	vertical-align: middle;
	padding-top: 7px;
}	


/*FOOTER*/
footer{
	border: 1px solid #24293c; /* stroke */
	background-color: #213a4d;
	height: 99px;
	text-align: center;
}
footer ul{
	list-style: none;
	padding-left: 6px;
	padding:8px;
}
footer li{
	display: inline-block;
	border-left:2px solid #bec6c9;
	height: 11px;
	
	padding-left:5px;
	
}	
footer a{
	display: block;
	text-decoration: none;
	font:13px/18px Arial sans-serif;
	color:#bec6c9;
	letter-spacing: 0.01em;
}
footer li:first-child{
	padding-right: 9px;
	border-left:none;
}
footer li:nth-child(2),
footer li:nth-child(3){
	padding-left: 10px;
	padding-right: 12px;
}
footer li:last-child{
	padding-left: 14px;
	
}


footer a:hover{
	color:#52abcb;
}
footer p{
	font:10px/18px Arial sans-serif;
	color:#7f4740;
	letter-spacing: 0.05em;
	display: box;
	padding-bottom: 2px;
	
}
