* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../images/background.png);
    height: 1100px;
    font: 15px Tahoma, Arial, sans-serif;
    overflow: auto;
}

.wrapper {
    height: 100%;
    margin: auto;

    width: 1000px;
    background-color: #ffffff;
    box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 1);
}


/*HEADER*/

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

.logo {
    padding-top: 8px;
    padding-left: 30px;
    width: 55%;
    float: left;
}

.contacts {
    color: #128aa7;
    padding: 10px 60px;
    float: right;
}

.countries {
	
	list-style: none;
    padding-top: 18px;
    padding-right: 50px;
    width: 30%;
    float: right;
    font:10px Tahoma;

}
.countries_name{
	
	list-style: none;
    padding-top: 1px;
    padding-right: 50px;
    width: 30%;
    float: right;
    font:10px Tahoma;
  

}
.countries_name a{
	padding-left: 11px;
	color: #128aa7;
}
.countries a{
	padding-left: 2px;
}
.countries li,
.countries_name li{
	display: inline;
}

/*MAIN SECTION*/
.main{
    height: auto;
    width: 100%;
}
.left-part{
    float:left;
    width: 190px;
    height: auto;

}
.central-part{
    float: left;
    width: 526px;
    height: auto;
}
.right-part{
    float:right;
    width:190px;
    height:auto;
}
/*СONTENT*/

.photo {
    border-top: 2px solid #128aa7;
    border-bottom: 2px solid #128aa7;
}

ul.menu {
    height: 29px;
    margin: auto;
    width: 1000px;
    padding-top: 4px;
    background: #353535;
    border-bottom: 2px solid black;
    box-shadow: 2px 2px 10px black;
    text-align: center;
    position: relative;
    padding-left: 30px;
    padding-right: 20px;
    z-index: 100;
    box-sizing: border-box;
}
  
ul.menu li {
    display: inline-block;
    list-style: none;
    width: 13.2%;
	 

}

 .menu_link, 
 .second_link {
    text-decoration: none;
   
    display: block;
    color: white;
	
}

 .second {
    display: none;
    position: absolute;
    width: 120px;
	
    top: 27px;
	
    background: #353535;
    box-shadow: 1px 6px 8px #555555;
    border-top: 2px solid black;
    ;
}
ul .second li{
    display:block;
    width:auto;
    height: 25px;
}
.second .second_link{
	padding-left:0px;
}
 .menu li:hover>ul {
    display: block;
}
.menu_link:hover,
.second_link:hover{
	color: grey;
}


.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

.blocks {
    height: 59.3%;
    z-index: 100;
}

.left-block {
    width: 21%;
    background: #edeef0;
    border-right: 2px solid #c7cacf;
    float: left;
}

.right-block {
    width: 21%;
    
    background: #edeef0;
    border-left: 2px solid #c7cacf;
    float: right;
}

.right-block, .left-block {
      font: bold;
        text-align: center;
    color: #424c43;
    height: 100%;
    padding-top: 10px;
    box-sizing: border-box;
}

.right-block p, .left-block p {
    font: 14px/24px Tahoma;
}
.footer{
    height: 30px;
}
.footer p{
    text-align: center;
    padding-top: 8px;
    color: white;
}
