* {
  margin: 0;
  padding: 0;
}

body {
  background: url(../img/cat-background.jpg) no-repeat center center fixed;
  background-size:cover;
  
}

.container {
  margin: 180px auto;
  height: 100%;
  width: 100%;
}

.carousel-hider {
  width: 950px;
  overflow: hidden;
  float: left;
}

.carousel-list {
  list-style: none;
  width: 10000px;
  position: relative;

}

.carousel-element {
  display: block;
  margin-right: 25px;
  float: left;
  max-height: 150px;
}

.carousel-element img {
  max-width: 300px;
 
}

.carousel-arrow-left, .carousel-arrow-right {
  background-image: url(../img/82dogpaw.png);
  width: 14px;
   height: 14px;
  float: left;
  display: block;
  padding: 5px;
  margin-top: 70px;
  font-size: 26px;
}

.carousel-arrow-left:hover , .carousel-arrow-right:hover {
  background-color: lightblue;
  border-radius: 100%;
  cursor: pointer;
}

.carousel-arrow-left {
  margin-right: 25px;
  margin-left: 150px;
}

.carousel-arrow-right {
  margin-left: 25px;
}