.wrapper{
	font-family: "Myriad Pro", Myriad;
	font-size: 14px;
	/*background-position: center;*/
	margin:auto;
	text-align: left;
	width:500px;
	background-color: #f7f1f5;
	padding: 40px;
	
}
.name{
	text-transform: uppercase;
	color: #010101;
	font: bold 36px  Arial;
	text-align: center;
}
.photo{
	text-align: center;
}
.head{
	font-size: 18px;
	font-weight: bold;
}
.block{
	border-top: 1px solid #c4c6c8;
}