* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(../images/background.png) no-repeat center center fixed;
    /*background-attachment: fixed;*/
    background-size: cover;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper {
    width: 560px;
    height: 610px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    background-color: rgba(0, 0, 0, 0.63);
    color: white;
    text-align: center;
}


/*MENU*/

.nav {
    overflow: hidden;
    background: url(../images/menu.png);
    background-repeat: repeat-x;
}

.menu {
    float: right;
}

.menu li {
    display: inline-block;
    box-sizing: border-box;
}

.menu li a {
    padding: 9px;
    display: block;
    text-decoration: none;
    color: #60b5ed;
}

  
.menu .menu3 a{
	color:white;
}
/*.menu .menu3 a:before{

	content:"";
	border-left: 1px solid #60b5ed;

}*/

.menu img{
	height: 20px;
	padding-left:20px;
}
.menu li:nth-child(5){
	
	border-right: 1px solid #60b5ed;/*не можу зменшити висоту, застосовувала line-height*/

	
}

.menu1 a:hover {
    color: white;
    background: #60b5ed;
}

.menu .gradient a {  /*чи потрібно було зробити кнопкою input type="submit"?*/
    color: white;
    background: rgb(122, 188, 255);
    background: -webkit-linear-gradient(rgba(122, 188, 255, 1) 0%, rgba(96, 171, 248, 1) 44%, rgba(64, 150, 238, 1) 100%);
    background: -o-linear-gradient(rgba(122, 188, 255, 1) 0%, rgba(96, 171, 248, 1) 44%, rgba(64, 150, 238, 1) 100%);
    background: linear-gradient(rgba(122, 188, 255, 1) 0%, rgba(96, 171, 248, 1) 44%, rgba(64, 150, 238, 1) 100%);
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
    margin-right: 20px;
}

.menu .gradient a span {
    text-decoration: underline;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}


/*FORM*/

.text {
    font-size: 11px;
    color: #ccc;
}

.wrapper p:first-child {
    font-size: 24px;
    border-bottom: 2px solid grey;
    padding-top: 20px;
    padding-bottom: 20px;
}

.fb input {
    padding-top: 35px;
    padding-bottom: 20px;
}

.ou {
    color: grey;
    position: relative;
}

.ou:before {
    content: "";
    width: 123px;
    border-top: 1px solid grey;
    border-bottom: 1px solid black;
    position: absolute;
    top: 8px;
    left: 143px;
}

.ou:after {
    content: "";
    width: 123px;
    border-top: 1px solid grey;
    border-bottom: 1px solid black;
    position: absolute;
    top: 8px;
    left: 295px;
}

.text1 input, .text2 input, .email input, .password1 input, .password2 input {
    vertical-align: middle;
    width: 275px;
    height: 35px;
    background: black;
    margin: 10px;
    padding-left: 20px;
    outline: none;
    border: none;
    color:white;
}

.text1 input {
    margin-top: 25px;
}

.text1 input:hover, .text2 input:hover, .email input:hover, .password1 input:hover, .password2 input:hover {
    font-color: white;/*не міняється колір((*/
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFiNTI4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFiNTI4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    background-image: linear-gradient(bottom, #1b5288 0%, #1b5288 100%);
    box-shadow: 0 1px 0 #4b4b4b, 0 0 9px rgba(47, 123, 197, .77), inset 0 2px 5px rgba(29, 26, 22, .2), inset 0 0 2px rgba(0, 0, 0, .1);
}

.checkbox input {
    margin-top: 10px;
}

.submit input {
    color: white;
    background: rgb(122, 188, 255);
    background: -moz-linear-gradient(top, rgba(122, 188, 255, 1) 0%, rgba(96, 171, 248, 1) 44%, rgba(64, 150, 238, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(122, 188, 255, 1) 0%, rgba(96, 171, 248, 1) 44%, rgba(64, 150, 238, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
     outline: none;
    border: none;
}

.text input {
    margin-bottom: 20px;
}

 