fieldset{
  width:50%;
}
label{
  display: inline-block;
  width:5em;
}

div{
  padding-bottom: 20px;
  padding-top: 10px;
}
.tooltip{
	text-align: center;
  width: 60px;
  margin-left: 20px;
  padding:10px;
  border-radius:2px;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
}
input[type="button"]{
  width:100px;
  height: 30px;

}